<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.trading.aiapp"><application android:label="AI量化交易系统"><activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>